body
{
	background-image:url('assets/canvas.png');
	margin:0px;
	text-align:center;
}


div
{
	background-color:rgba(150,150,75,0.7);
	position:relative;
	text-align:center;
	padding:10px;
	border:10px solid white;
	color:white;
}


h1
{
	font-size:3em;
}
